{% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%b %Y"' %}

<nav class="nav__list">
  <input id="ac-toc" name="accordion-toc" type="checkbox" />
  <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</label>
  <ul class="nav__items">
    <li>
      <span class="nav__sub-title toggle" style="cursor: pointer;"><span class="toggle__triangle">&#9660</span> Dates</span>
      <ul class="list__toggle">
        {% for year in postsInYear %}
            <li><a style="display:flex; justify-content:space-between;" href="/blog/#{{ year.name }}">{{ year.name }}<span class="taxonomy__count">{{ year.items | size }}</span></a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
